<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <title>Panel de Administrador</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style-admin.css}">
</head>

<body>

    <h2>Bienvenido Administrador</h2>

    <div class="buttons">
        <a th:href="@{/logout}"><button>Salir</button></a>
        <a th:href="@{/admin/news/create}"><button>Ingresar Noticias</button></a>
        <a th:href="@{/admin/news/edit}"><button>Modificar Noticias</button></a>
        <a th:href="@{/admin/user/edit}"><button>Modificar Cliente</button></a>
        <a th:href="@{/admin/stadistics}"><button>Historial de Subscripciones</button></a>
    </div>

    <h3>Noticias Recomendadas</h3>

    <div th:each="news : ${news}">
        <div class="news-item">
            <div class="news-id">ID: <span th:text="${news.id}">1</span></div>
            <div class="news-title" th:text="${news.title}">Título</div>
            <div class="news-author">Autor: <span th:text="${news.author}">Nombre Autor</span></div>
            <div class="news-category">Categoría: <span th:text="${news.category}">Política</span></div>
            <p th:text="${news.content}">Contenido de la noticia...</p>
        </div>
    </div>

</body>

</html>