<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/css/style-login.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <div class="login-container">
        <h2>Iniciar sesión</h2>
        <form th:action="@{/LoginCheck}" method="post">
            <div class="input-group">
                <label for="email"><i class="fas fa-envelope"></i> Correo electrónico</label>
                <input type="text" id="email" name="email" placeholder="usuario@correo.com" required />
            </div>

            <div class="input-group">
                <label for="password"><i class="fas fa-lock"></i> Contraseña</label>
                <div class="password-wrapper">
                    <input type="password" id="password" name="password" placeholder="••••••••" required />
                    <i class="fa-solid fa-eye toggle-password" onclick="togglePassword()"></i>
                </div>
            </div>

            <button type="submit">Iniciar sesión</button>
        </form>

        <div class="error-message" th:if="${error}">
            <p th:text="${error}"></p>
        </div>

        <div class="register-link">
            ¿No tienes una cuenta?
            <a th:href="@{/register}">Regístrate aquí</a>
        </div>
    </div>

    <script th:src="@{/js/script.js}"></script>
</body>

</html>