<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <h2>Iniciar sesión</h2>
    <form th:action="@{/LoginCheck}" method="post">
        <label>Email:</label>
        <input type="text" name="email" required/><br/>

        <label>Contraseña:</label>
        <input type="password" name="password" required/><br/>

        <button type="submit">Iniciar sesión</button>
    </form>

    <div th:if="${error}">
        <p style="color:red" th:text="${error}"></p>
    </div>
</body>
</html>
