<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Noticias</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link rel="stylesheet" th:href="@{/css/initPage.css}" />


</head>

<body>

    <div class="buttons">
        <a href="/login"><button>Login</button></a>
        <a href="/register"><button>Register</button></a>
    </div>

    <h2>Noticias Disponibles</h2>

    <div th:each="news : ${news}">
        <div class="news-item">
            <div class="news-title" th:text="${news.title}">Título</div>
            <div class="news-author">Autor: <span th:text="${news.author}">Autor</span></div>
            <div class="news-category">Categoría: <span th:text="${news.category}">Categoría</span></div>
            <p th:text="${news.content}">Contenido</p>
        </div>
    </div>

    <script>
        // Limpiar cualquier dato persistente del navegador (opcional)
        localStorage.clear();
        sessionStorage.clear();
    </script>

</body>
</html>
