<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar Cliente</title>
</head>
<body>
<h2>Modificar Usuario</h2>

<form action="/updateCli" method="post">
    <label for="email">Email del Cliente (requerido):</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="name">Nuevo Nombre:</label><br>
    <input type="text" id="name" name="name"><br><br>

    <label for="nickname">Nuevo Apodo:</label><br>
    <input type="text" id="nickname" name="nickname"><br><br>

    <label for="password">Nueva Contraseña:</label><br>
    <input type="password" id="password" name="password"><br><br>

    <label for="subscriptionName">Suscripción:</label><br>
    <select id="subscriptionName" name="subscriptionName">
        <option value="">--Seleccionar--</option>
        <option value="FREE">FREE</option>
        <option value="TITULAR">TITULAR</option>
        <option value="REDACCIONPlus">REDACCIONPlus</option>
        <option value="INSIDER">INSIDER</option>
    </select><br><br>

    <button type="submit">Guardar Cambios</button>
</form>

<br>
<a href="/admin"><button>Volver</button></a>
</body>
</html>
